<header>

	<!-- Logo -->
	<div class="col-5" id="logo">
		<img src="{{ asset('./assets/img/HEADER/logo_village.png') }}" alt="logo">
	</div>

	<!-- Navbar ligne 1 -->
	<nav class="navbar navbar-expand-lg navbar-light bg-navbar-1">
		<div class="col-8">
			
		</div>

		<div class="collapse navbar-collapse col-4 " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto row">
				<li class="nav-item ml-4">
					<a class="nav-link" href="#">Infos</a>
				</li>
				<li class="nav-item dropdown row ml-4">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Espace client
					</a>
				</li>
				<li class="nav-item ml-4">
					<a href="#" class="nav-link navbar-link-2 waves-effect">
						<i class="fas fa-shopping-cart pl-0"></i>
					</a>
				</li>
				<li class="nav-item dropdown ml-4">
					<a class="nav-link dropdown-toggle langage" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Langue
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">
							<span class="flag-icon flag-icon-fr"></span>
							Fr</a>
						<a class="dropdown-item" href="#">
							<span class="flag-icon flag-icon-gb"></span>
							En</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Navbar ligne 2 -->
	<nav class="navbar navbar-expand-lg navbar-light bg-navbar-2">
		<div class="col-6">

		</div>
		<div class="collapse navbar-collapse col-6" id="navbar-2">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Produits</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Service</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Aide</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">A propos</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Navbar ligne 3 -->
	<nav class="navbar navbar-expand-lg navbar-light bg-navbar-3">
		<div class="col-6">

		</div>
		<div class="collapse navbar-collapse col-6" id="navbar-3">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Guit/Bass
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Guitares Electriques</a>
						<a class="dropdown-item" href="#">Guitares classiques</a>
						<a class="dropdown-item" href="#">Guitares Acoustiques & Electro-Acoustiques</a>
						<a class="dropdown-item" href="#">Basses Electriques</a>
						<a class="dropdown-item" href="#">Basses Acoustiques</a>
						<a class="dropdown-item" href="#">Basses Semi-Acoustiques</a>
						<a class="dropdown-item" href="#">Ukulélés</a>
						<a class="dropdown-item" href="#">Autres instruments à cordes pincées</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Batteries
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Batteries Acoustiques</a>
						<a class="dropdown-item" href="#">Batteries Electroniques</a>
						<a class="dropdown-item" href="#">Cymbales</a>
						<a class="dropdown-item" href="#">Baguettes et Maillets</a>
						<a class="dropdown-item" href="#">Percussions</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Studio
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Claviers Arrangeurs</a>
						<a class="dropdown-item" href="#">Synthétiseurs</a>
						<a class="dropdown-item" href="#">Claviers Maîtres</a>
						<a class="dropdown-item" href="#">Pianos de Scènes</a>
						<a class="dropdown-item" href="#">Pianos à Queue</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Claviers
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Interfaces Audio</a>
						<a class="dropdown-item" href="#">Enceintes de Monitoring</a>
						<a class="dropdown-item" href="#">Microphones</a>
						<a class="dropdown-item" href="#">Logiciels Studio</a>
						<a class="dropdown-item" href="#">Préamplificateurs Studio</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Sono
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Sets de Sonorisation Complets</a>
						<a class="dropdown-item" href="#">Enceintes de Sonorisation</a>
						<a class="dropdown-item" href="#">Tables de Mixage</a>
						<a class="dropdown-item" href="#">Amplificateurs de Puissance</a>
						<a class="dropdown-item" href="#">Processeurs de Diffusion</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Eclairage
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Projecteurs</a>
						<a class="dropdown-item" href="#">Eclairage</a>
						<a class="dropdown-item" href="#">Machine à Fumée</a>
						<a class="dropdown-item" href="#">Lasers</a>
						<a class="dropdown-item" href="#">Stroboscopes</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						DJ
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Contrôleurs DJ</a>
						<a class="dropdown-item" href="#">Lecteurs</a>
						<a class="dropdown-item" href="#">Platines Vinyles</a>
						<a class="dropdown-item" href="#">Tables de Mixage DJ</a>
						<a class="dropdown-item" href="#">Casques DJ</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Cases
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Flight Cases</a>
						<a class="dropdown-item" href="#">Housses et Etuis</a>
						<a class="dropdown-item" href="#">Mobilier de Studio</a>
						<a class="dropdown-item" href="#">Housses de Protection</a>
						<a class="dropdown-item" href="#">Système de Transport</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Accessoires
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Pieds et Supports</a>
						<a class="dropdown-item" href="#">Sièges</a>
						<a class="dropdown-item" href="#">Protections Auditives</a>
						<a class="dropdown-item" href="#">Supports de Stockage</a>
						<a class="dropdown-item" href="#">Métronomes</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</header>
